* {
	margin:0px;
	padding:0px;
	font-family:calibri;
}

#center-wrapper {
	text-align:center;
	background-image:url(wallpaper.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100% auto;
	min-height:100%;
}

#center {
	display:inline-block;
	min-width:800px;
	min-height:100%;
	width:75%;
	margin:40px;
	background-color:#031217;
	padding:10px;
	border-radius:20px;
}

#page-header {
	margin:10px;
	height:100px;
	padding:5px;
	background-color:#F5FDFE;
	border-radius:10px;
}

#main-menubar {
	background-color:#C2E8F3;
	margin-left:20px;
	margin-right:20px;
	border-radius:20px;
}

.menubar {
	list-style:none;
	display:inline-block;
}

.menubar li {
	float:left;
	min-width:80px;
	margin:5px;
}
#page-footer {
	height:100px;
	border-radius:20px;
}

.shiny-app {
	margin:10px;
	padding:10px;
	height:600px;
	background-color:white;
	clear:both;
	border-radius:10px;
	background-color:#F5FDFE;
}

.shiny-app iframe {
	width:100%;
	min-height:100%;
	height:auto !important;
	height:600px;
	border:0px;
}
