body {
	height:100%;
	margin:0px;
	padding:0px;
}
.rechts {
float: right;
margin-left: 0;
} 

.links {
float: left;
margin-left: 0;
}

#background{
	text-align:center;
	background-image: -moz-radial-gradient(center, 
								circle farthest-corner, 
								white 0%,
								grey 70%,
								black 99%);
	background-image: -ms-radial-gradient(center, 
								circle farthest-corner, 
								white 0%,
								grey 70%,
								black 99%);
	background-image: -webkit-radial-gradient(center, 
								circle farthest-corner, 
								white 0%,
								grey 70%,
								black 99%);
	background-image: -o-radial-gradient(center, 
								circle farthest-corner, 
								white 0%,
								grey 70%,
								black 99%);
	background-attachment:fixed;
	background-repeat:no-repeat;
	-moz-background-size:100% auto;
	background-attachment:-ms-fixed;
	background-repeat:-ms-no-repeat;
	background-size:-ms-100% auto;
	background-attachment:-webkit-fixed;
	background-repeat:-webkit-no-repeat;
	-webkit-background-size:100% auto;
	background-attachment:-o-fixed;
	background-repeat:-o-no-repeat;
	background-size:-o-100% auto;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
}
#container {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 75%;
}

#dummy {
    padding-top: 50%;
	padding-bottom: 0;/* 4:3 aspect ratio */
}

#arrow {
    bottom: 0;
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
	font-size: 1.2em;
	color: ffcc00;
	font-weight: bold;
}
#logo{
    position: absolute;
    top: 30%;
    left: 50%;
	width:10%;}
#project-pos{
    position: absolute;
    top: 37%;
    left: 70%;
	width: 20%;
	}

#parts-pos{
    position: absolute;
    top: 55%;
    left: 31%;
	width: 50%;
	text-align: right;}
	

#team-pos{
    position: absolute;
	width: 40%;
    top: 65%;
    left: 35%;
	text-align: right;}

#notebook-pos{
    position: absolute;
	width: 35%;
	top: 66%;
    left: 35%;}

#hp-pos{
    position: absolute;
	width: 23%;
    top: 63%;
    left: 25%;
	}
	
#attrib-pos{
    position: absolute;
	width:30%;
    top: 68%;
    left: 7%;}
	
#model-pos{
	position: absolute;
	width: 25%;
	top: 46%;
	left: 7%}
	