* {
	margin:0px;
	padding:0px;
	font-family:calibri;
}

#widescreen-background {
	text-align:center;
	background-color:#606060;
	min-height:100%;
}

#center-wrapper {
	display:inline-block;
	width:1024px;
	background-color:#FFFFFF;
	border-right-style:solid;
	border-right-color:#606060;
	border-left-style:solid;
	border-left-color:#606060;
}

.center-vert {
	display:inline-block;
	width:100%;
	position:relative;
	top:220px;
	color:#000000;
	z-index:1;
}
#top-matter {
position:fixed;
z-index:2;
}
#main-menu {
	width:1024;
	height:200px;
	background-image:url(../png/mainMenuTest.png);
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment:scrolled;
	color:#F5B800;
}
#top-separator {
	background-color:#F5B800;
	height:20px;
}

.content-hori {
	float:left;
	min-height:600px;
	padding:3px;
}

#navigation-bar {
	border-right-style:solid;
	border-right-color:#606060;
}
